*{
  box-sizing: border-box;
}
body{
  background-color: black;
   background-image: url(https://wallpaperaccess.com/full/1155221.png); 
  background-size: cover;
  width: 100%;
}
h1{
  color: rgb(5, 4, 4);
  width: 100%;
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
   background-size: 200% auto; 
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  
}

@keyframes textclip {
  to {
    background-position: 200% center;
}
}

img{
  float: center;
  margin: 15px;
  min-height: 200px;
  max-height: 220px;
  border: 2px white solid;
  padding: 1%;

}
#imageContainer{
  display: flex; 
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  height: 300px;
}

#select-image {
  width: 100%;
  margin: 10px;
  text-align: center;
  font-size: large;

}

main div{
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: max-content;
  border: 2px solid black;
  margin: auto;
  border-radius: 5px;
  background-color: white;
  margin-top: 50px;
}
footer{
  text-align: center;
  margin-top: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}
#chart{
  width: 80%;
  margin: auto;
}

p {
  animation-duration: 3s;
  animation-name: slidein; 
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

ul {
  width: 50%;
  margin: auto;
  
}
li {
  
  margin: 2px 0;
  color: purple;
  font-size: 20px;
}
